body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding-top: 20px;
    background-image: url('https://img.freepik.com/premium-vector/crankshaft-flat-icon-illustration-isolated-vector-sign-symbol_159242-2165.jpg?w=740');
    background-size: cover;
    background-position: center;
    opacity: 0.8; /* Adjust the opacity to control the fading effect */
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo-container img {
    height: 40px;
    margin-right: 10px;
}

.logo-container h1 {
    font-size: 24px;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent white background to make the form prominent */
    border-radius: 10px; /* Add some border-radius to soften the edges */
}

form label {
    margin-left: 5px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input,
select {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #cccccc;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.button {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #cccccc;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
    background-color: #f0cc2b;
}

button {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

.continue-buttons {
    margin-top: 1rem;
    text-align: center; /* Center the buttons horizontally */
    white-space: nowrap; /* Prevent buttons from wrapping to a new line */
}

.continue-buttons button {
    display: inline-block;
    margin: 0 0.5rem; /* Add some distance between buttons */
    padding: 0.5rem;
    border-radius: 50%;
    border: none;
    color: #000000;
}

.continue-buttons button:hover {
    background-color: #6e6d6d;
}

.login-link {
    margin-top: 1rem;
    text-align: center;
}

.login-link a {
    color: blue;
    text-decoration: none;
}
